
.container{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/bg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    
}
.section .name-text{
    color: rgb(255, 255, 255);
    font-family: MN MINI,serif;
    font-size: 50px;
}
.section{
    max-height: 720px;
    padding-top: 300px;
    padding-left: 200px;
}
.social{
    margin-top: 40px;
}
.social img{
    width: 50px;
    height: 50px;
    padding-top: 0px 0px;
    border-radius: 50%;
}
.section .name-text p{
    width: 440px;
    max-width: 100%;
    font-weight: 4;
    line-height: 1.5px;
    margin-bottom: 30px;
    font-size: 40px;
}
.section .name-text h3{
    font-weight: 4;
    font-size: 40px;
    line-height: 01.1px;
}
.section .name-text button{
    font-size: 30px;
    font-weight: bold;
    font-family: FC Lamoon,serif;
    line-height: 23px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: 3px solid white;
    color: black;
    border-radius: 30px;
}
.section .name-text button:hover{
    transform: scale(1.1);
    background-color: rgb(53, 52, 52);
    color: white;
    transition: .4s;
}
.section .name-text h1 .sec-text{
    color:rgb(61, 177, 255);
    width: 100px;
    height: 100px;
    
}
@media only screen and (max-width: 1180px) {
    body {
        background-color: blue;

    }
    .section{
        max-height: 720px;
        padding-top: 200px;
        padding-left: 200px;
        background-color: red;
    }    
}
