*{
    margin: 0px;
    padding: 0px;
    font-family: MN Kha Ki,serif;
    
}
.container{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/bg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.container .section{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 50px;
    min-height: 80vh;
}
#check{
    display: none;
}
label img{
    width: 30px;
}
label #btn , label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 25;
    font-size: 35px;
    color: white;
}