*{
    margin: 0px;
    padding: 0px;
    font-family: MN Kha Ki,serif;
    
}
.container{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/bg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
  
#check , label img{
    opacity: 0;
    position: absolute;
    width: 1px;
}
/*!------------------------------------------------------------------*/
.section{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 50vh;   
}
.box{
    margin-top: 100px;
    width:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box .select-box{
    position: relative;
    width: 350px;
    height: 200px;
    background: #2e2d2d;                    
    border-radius: 10px;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.box .select-box a{
    text-decoration: none;
}
.box .select-box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: white;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
    transition: 1s;
    
}
.box .select-box .icon span{
    padding-top: 100px;
    transition: 1s;

}
.box .select-box .content{
    color: white;
}
.box .select-box .icon img{
    width: 60px;
    top: 1020px;
    padding-top: 110px;
}
.box .select-box .content{
    font-size: 40px;
}
.box .select-box .content img{
    width: 70px;
    height: 70px;
    padding: auto;
}
.box .select-box:hover .icon span{
    padding-top: 0px ;
    font-size: 40px;
}
.box .select-box:hover .icon span h2{
    visibility: hidden;
    position: absolute;
}

.box .select-box:nth-child(1) .icon{
    box-shadow:  0 0 0 400px #F08080;
    background: #F08080;
}
.box .select-box:nth-child(1):hover .icon{
    box-shadow:  0 0 0 0px #F08080;  
}
.box .select-box:nth-child(2) .icon{
    box-shadow:  0 0 0 400px #90EE90;
    background: #90EE90;
}
.box .select-box:nth-child(2):hover .icon{
    box-shadow:  0 0 0 0px #90EE90;
}
.box .select-box:nth-child(3) .icon{
    box-shadow:  0 0 0 400px #AFEEEE;
    background: #AFEEEE;
}
.box .select-box:nth-child(3):hover .icon{
    box-shadow:  0 0 0 0px #AFEEEE;
}
.box .select-box:nth-child(4) .icon{
    box-shadow:  0 0 0 400px #7B68EE;
    background: #7B68EE;
}
.box .select-box:nth-child(4):hover .icon{
    box-shadow:  0 0 0 0px #7B68EE;
}
/*!------------------------------------------------------------------*/

/*small*/
@media only screen and (max-width: 600px) and (orientation:portrait){
    .test{
        font-size: 123px;
        color:wheat;
    }
    .container{
        width: 100%;
        min-height: 120vh;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/bg2.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    #check , label img{
        opacity: 1;
        position: relative;
        width: 20px;
    }
    .box{
        margin-top: 50px;
        width:300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    .box .select-box{
        position: relative;
        width: 160px;
        height: 150px;
        background: #2e2d2d;                    
        border-radius: 10px;
        margin: 30px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }
    .box .select-box .icon{
        
        font-size: 30px;   
    }
    
}
/*!------------------------------------------------------------------*/
/*Ipad*/
@media only screen and (max-width: 1180px){
    .section .name-text{
        font-size: 30px;
    }
    .section .name-text p{
        margin-bottom: 30px;
        font-size: 30px;
    }
    .section .name-text h3{
        font-size: 30px;
    }
    .social{
        margin-top: 40px;
        padding-bottom: 10px;
    }
    .section .name-text button{
        font-size: 25px;
        line-height: 23px;
        padding: 5px 15px;
    }
   
    .section{
        max-height: 10px;
        padding-top: 0px;
        padding-left: px;
    }    
}
/*!------------------------------------------------------------------*/
/*COM*/
@media only screen and (min-width: 601px){
    

}
/*!------------------------------------------------------------------*/
/*IPAD portrait*/
@media only screen and (min-height: 1000px) and (orientation:portrait){
    .box{
        justify-content: center;
    }
}
