@media only screen and (max-width: 1024) {
    body {
        color: red; 
    }
    .section .name-text{
        color: rgb(18, 74, 226);
        font-family: MN MINI,serif;
        font-size: 50px;
    }
}