@media only screen and (max-width: 600px) {
    body {
        background-color: red;

    }
}
@media only screen and (max-width: 1280px) {
    body {
        background-color: green;

    }
    .section .name-text{
        color: rgb(255, 255, 255);
        font-family: MN MINI,serif;
        font-size: 50px;
    }
    .section{
        max-height: 720px;
        padding-top: 120px;
        padding-left: 200px;
    }
    .section .name-text p{
        width: 440px;
        max-width: 100%;
        font-weight: 4;
        line-height: 1.5px;
        margin-bottom: 30px;
        font-size: 40px;
    }
}