*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(61, 177, 255);
    transition: all .6s ease;
}
nav ul li a img{
    width: 20px;
    height: 20px;
    padding: 0px 5px;
}
header ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 50px;
    color: white;
    padding-left: 30px;
    padding-top: 20px ;
    padding-bottom: 20px ;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom:1px solid black ;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
header ul a img{
    margin-right: 16px;
}
#check{
    display: none;
}
label img{
    width: 30px;
}
label #btn , label #cancel{
    position: absolute;
    cursor: pointer;
    background: rgb(61, 177, 255);
    border-radius: 4px;
}
label #btn{
    left: 40px;
    top: 25px  ;
    font-size: 35px;
    padding: 6px 12px;
    transition: .4s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
     padding: 4px 9px;
     transition: .6s;
}
 #check:checked ~ header{
    left: 0px;
 }
 #check:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
 }
 #check:checked ~ label #cancel{
    left:195px;
    
 }