*{
    margin: 0px;
    padding: 0px;
    font-family: MN Kha Ki,serif;
}
nav ul li a img{
    width: 20px;
    height: 20px;
    padding: 0px 5px;
    
    
}

nav ul{
    display: flex;
    justify-content: center;

}
nav ul li {
    list-style: none;
    padding: 20px 30px;
    
}
nav ul li a{
    text-decoration: none; /* ไม่เอาขีด */
    color: white;
    font-size: 30px;
    
    
}
nav{
    
    width: 100%;

}
nav ul li a:hover{
    color:rgb(61, 177, 255);
    filter: invert(59%) sepia(98%) saturate(2197%) hue-rotate(181deg) brightness(105%) contrast(102%);
    text-decoration: underline 2px;
    text-underline-offset: 4.5px;
    background-size: 150% 150%;
    transition: .4s;
    
}
nav ul li a #menu{
    width: 30px;
    height: 30px;
    padding: 2px 0px;
    
}